@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variáveis de cores da sua marca */
  --color-brand-green: #23a383;
  --color-brand-dark: #262626;
  --color-brand-light: #f5f5f5;
}

body {
  /* Aplicando as cores base */
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}
@media print {
  /* Esconde tudo no corpo da página por padrão */
  body * {
    visibility: hidden;
  }
  /* Mostra a seção de impressão e tudo dentro dela */
  .print-section, .print-section * {
    visibility: visible;
  }
  /* Garante que a seção de impressão ocupe a página toda */
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  /* Opcional: Se estiver usando Next.js 13+ e o Body tiver classes de Tailwind */
@layer base {
  body {
    @apply h-full; /* Garante que o body ocupe 100% da altura do html */
  }
}

}